[
  {time_tracking, [
    {rabbitmq_host, "rabbitmq"},
    {rabbitmq_port, 5672},
    {rabbitmq_username, "guest"},
    {rabbitmq_password, "guest"},
    {rabbitmq_vhost, "/"},
    {rabbitmq_queue, "time_tracking_queue"},

    {postgres_host, "postgres"},
    {postgres_port, 5432},
    {postgres_username, "postgres"},
    {postgres_password, "postgres"},
    {postgres_database, "time_tracking"},
    {postgres_pool_size, 10},

    {default_work_start_time, {9, 0, 0}},
    {default_work_end_time, {18, 0, 0}},
    {default_work_days, [1, 2, 3, 4, 5]},
    {grace_period_minutes, 15}
  ]},
  
  {sasl, [
      {sasl_error_logger, {file, "/app/logs/sasl.log"}},
      {errlog_type, all}
  ]},
  
  {kernel, [
      {error_logger, {file, "/app/logs/erlang.log"}},
      {logger_level, debug}
  ]}
].
